@use '/src/AppLib.scss';

.info{
    @include AppLib.transition;
    display: flex;
    justify-content: center;
    align-items: center;

    .info-img{
        @include AppLib.transition;
        @include AppLib.fadein-animation;
        img{
            @include AppLib.transition;
            border-radius: 300px 300px 0 0;
            @include AppLib.s{
                width: 0px;
            }
            @include AppLib.l{
                width: 400px;
                margin-right: 50px;
            }
        }
    }

    .info-content{
        @include AppLib.transition;
        .info-title{
            @include AppLib.transition;
            position: relative;

            .title-name{
                @include AppLib.transition;
                position: absolute;
                font-family: 'Brittany Signature';
                color: AppLib.$tcolor;
                top: 30px;
                left: 50px;
                @include AppLib.s{
                    font-size: 40px;
                }
                @include AppLib.m{
                    font-size: 50px;
                }
                @include AppLib.l{
                    font-size: 60px;
                }
            }
            .title-hello{
                @include AppLib.transition;
                font-family: 'Garet';
                font-weight: 1000;
                letter-spacing: 20px;
                color: AppLib.$scolor;
                @include AppLib.s{
                    font-size: 50px;
                }
                @include AppLib.m{
                    font-size: 60px;
                }
                @include AppLib.l{
                    font-size: 70px;
                }
            }
        }

        .info-sub-desc{
            @include AppLib.transition;
            font-family: 'Garet';
            color: AppLib.$tcolor;
            margin-top: 50px;
            border-bottom: AppLib.$tcolor 1px solid ;
            padding-bottom: 20px;
            @include AppLib.s{
                font-size: 12px;
                width: 250px;
            }
            @include AppLib.m{
                font-size: 17px;
                width: 600px;
            }
            @include AppLib.l{
                font-size: 18px;
                width: auto;
            }
            
            p{
                margin-top: 5px;
            }
        }

        .info-desc{
            @include AppLib.transition;
            font-family: 'Alegreya';
            margin-top: 10px;
            @include AppLib.s{
                font-size: 15px;
                width: 20em;
                line-height: 30px;
            }
            @include AppLib.m{
                font-size: 17px;
                width: 35em;
                line-height: 40px;
            }
            @include AppLib.l{
                font-size: 20px;
                width: 35em;
                line-height: 40px;
            }
        }
    }

    
}