@use '/src/AppLib.scss';

.admin-exp{
    @include AppLib.transition;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .admin-exp-title{
        @include AppLib.transition;
        font-family: 'Garet';
        font-weight: 700;
        color: AppLib.$scolor;
        padding-bottom: 20px;
        margin-bottom: 15px;
        border-bottom: 1px AppLib.$tcolor solid;
        @include AppLib.s{
            font-size: 25px;
        }
        @include AppLib.m{
            font-size: 30px;
        }
        @include AppLib.l{
            font-size: 40px;
        }
    }

    .admin-exp-button{
        @include AppLib.transition;
        margin-bottom: 40px;

        button{
            @include AppLib.transition;
            @include AppLib.buttons;
            border: 0;
            border-radius: 20px;
            font-family: 'Garet';
            @include AppLib.s{
                @include AppLib.transition;
                padding: 5px 20px;
                font-size: 12px;
            }
            @include AppLib.m{
                @include AppLib.transition;
                padding: 7.5px 30px;
                font-weight: 600;
            }
            @include AppLib.l{
                @include AppLib.transition;
                padding: 10px 40px;
                font-size: 15px;
            }
        }
    }
    .admin-exp-portrait{ 
        @include AppLib.transition;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .exp-port{
        @include AppLib.transition;
        margin-top: 50px;
        .port-link{
            @include AppLib.transition;
            .port-button{
                @include AppLib.transition;
                background-color: AppLib.$scolor;
                color: AppLib.$pcolor;
                border: 0;
                border-radius: 20px;
                font-family: 'Garet';
                &:hover{
                    background-color: AppLib.$tcolor;
                    color: AppLib.$pcolor;
                }
                &:focus{
                    background-color: AppLib.$scolor;
                    color: AppLib.$tcolor;    
                }
                @include AppLib.s{
                    @include AppLib.transition;
                    padding: 5px 20px;
                    font-size: 12px;
                }
                @include AppLib.m{
                    @include AppLib.transition;
                    padding: 6px 25px;
                    font-weight: 600;
                }
                @include AppLib.l{
                    @include AppLib.transition;
                    padding: 7px 30px;
                    font-size: 15px;
                }
            }
        }
    }
}