@use '/src/AppLib.scss';

.exp-img {
    @include AppLib.transition;
    @include AppLib.polaroid;
    @include AppLib.s{
        height: 150px;
        margin: 10px 10px 0 10px;
    }
    @include AppLib.m{
        height: 220px;
        margin: 10px 30px 0 30px;
    }
    @include AppLib.l{
        height: 300px;
        margin: 10px 40px 0 40px;
    }
}

    .exp-modal{
        @include AppLib.transition;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        padding: 5em 0 5em 0;
        @include AppLib.s{
            flex-direction: column;
            width: 22em;
        }
        @include AppLib.m{
            flex-direction: row;
            width: 50em;
        }
        @include AppLib.l{
            width: 60em;
        }
        .modal-id{
            font-family: 'Garet';
        }
        .modal-title{
            font-family: 'Garet';
            font-size: 30px;
        }
        .modal-when{
            font-family: 'Garet';
        }
        .modal-date{
            font-family: 'Garet';
        }
        .modal-details{
            font-family: 'Garet';
            margin-top: 20px;
        }
        .modal-image{
            @include AppLib.transition;
            @include AppLib.s{
                width: 250px;
            }
            @include AppLib.m{
                width: 350px;
            }
            @include AppLib.l{
                width: 450px;
            }
        }
    }
